:root {
  --primary-blue: #243c7e;
  --secondary-blue: #2563EB;
  --accent-yellow: #FACC15;
  --bg-light: #F9FAFB;
  --text-dark: #1f2937;
}

body {
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-dark);
}